body {
  background-color: #000000;
  display: flex;
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-family: sans-serif;
}

#contentGrid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 14.28vw);
  grid-template-rows: repeat(6, 16.66vh);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.videoPlayer {
  /* opacity: 0.0; */
  transition: opacity 1s;
  overflow: hidden !important;
}

#contentGrid > div {
  overflow: hidden;
}

.gif {
  display: flex;
}

.images {
  display: flex;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  /* min-height: 100%; */
  /* height: auto; */
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: #000;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#launchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000;
  opacity: 1.0;
  z-index: +200;
  transition: opacity 15s;
  font-size: 5vmin;
}

#launchButton {
  cursor: pointer;
}

#launchButton:hover {
  background-color: #fff;
  color: #000;
  padding: 20px;
}
