body {
  background-color: #000000;
}

#contentGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
}

.gif {
  place-self:center;
}

.img {
  max-width: 100%;
  height: auto;
}
